%header.header
  .container
    .row
      .col-sm-12.text-center
        %h1
          Neo4j
          %span meets
          Ruby
        %p.lead A collection of resources about a powerful graph database and a beautiful programming language
