---
title: Docker, Rails and Neo4j
description: Deploying Rails application with Neo4j using Docker
keywords: docker, rails, how-tos, neo4j, ruby
author: Dieter Pisarewski
---

.container
  .row
    .col-sm-12
      = partial :page_header
      = partial 'how-tos/docker_rails_neo4j'
      Author:
      = current_resource.data.author
