---
title: Kaminari and Neo4j
description: Pagination with Kaminari for Neo4j
keywords: kaminari, how-tos, neo4j, ruby
---

.container
  .row
    .col-sm-12
      = partial :page_header
      = partial 'how-tos/kaminari-neo4j'
