---
title: Timestamps with Neo4j
description: Saving timestamps with microsecond precision using neo4j gem
keywords: timestamps, microsecond, precision, how-tos, neo4j, ruby
---

.container
  .row
    .col-sm-12
      = partial :page_header
      = partial 'how-tos/microsecond_timestamps'
