---
title: Neo4j with RSpec and DatabaseCleaner
description: Setup Neo4j with RSpec and DatabaseCleaner
keywords: rspec, database_cleaner, port, models, transaction, deletion, how-tos, neo4j, ruby
author: Dieter Pisarewski
---

.container
  .row
    .col-sm-12
      = partial :page_header
      = partial 'how-tos/neo4j_rspec_database_cleaner'
      Author:
      = current_resource.data.author
