---
title: Neo4j with FactoryGirl
description: Make neo4j gem work with factory_girl
keywords: rspec, factory, factory_girl, assignment, persisted, how-tos, neo4j, ruby
author: Dieter Pisarewski
---

.container
  .row
    .col-sm-12
      = partial :page_header
      = partial 'how-tos/neo4j_factory_girl'
      Author:
      = current_resource.data.author
