---
title: Rails demo app
description: Creating simple rails app with neo4j
keywords: rails, how-tos, neo4j, ruby
author: Dieter Pisarewski
---

.container
  .row
    .col-sm-12
      = partial :page_header
      = partial 'how-tos/rails_neo4j_app'
      Author:
      = current_resource.data.author
