---
title: Sinatra demo app
description: Creating simple sinatra app with neo4j
keywords: sinatra, how-tos, neo4j, ruby
author: Dieter Pisarewski
---

.container
  .row
    .col-sm-12
      = partial :page_header
      = partial 'how-tos/sinatra_neo4j_app'
      Author:
      = current_resource.data.author
