---
title: Articles
description: Useful links about graph theory, Neo4j and Ruby
keywords: articles, useful, neo4j, ruby
---

.container
  .row
    .col-sm-12
      = partial :page_header
      - data.articles.each do |article|
        .content
          %h3
            = link_to article.title, article.link
          %p
            written by
            = article.author
