---
title: Articles about Neo4j and Ruby
description:
keywords: Add, some, keywords
---

.container
  .row
    .col-sm-12
      = partial :page_header
      - data.articles.each do |article|
        .article
          %h3
            = link_to article.title, article.link
          %p
            written by
            = article.author
