---
title: Getting started
description: First steps to setup your environment with Neo4j and Ruby
keywords: Add, some, keywords
---

.container
  .row
    .col-sm-12
      = partial :page_header
      = partial :getting_started
