---
title: How-Tos
description: Code examples, tips &amp; tricks and more
keywords: how-tos, neo4j, ruby, tips, tricks
---

.container
  .row
    .col-sm-12
      = partial :page_header
      - sitemap.resources.each do |page|
        - if page.path =~ /how-tos\//
          .content
            %h3= link_to page.data.title, page.path
            %p= page.data.description
