---
title: Resources about Neo4j meets Ruby
description: Find resources to build graph-based application with Neo4j and Ruby
keywords: neo4j, ruby, resources, how-tos, articles
---

.container
  .row
    .col-sm-12
      .well
        %h2 Our Mission
        %p.lead
          We want to discover the best way to realize web applications with Neo4j and
          Ruby/Ruby on Rails. There are so many open question and we believe that more
          answers will increase the acceptance by developers and customers.
        %p.lead
          We want the same proven development experience as with the classic Ruby on Rails/Postgres
          environment.
          %br/
          It's time to connect the Neo4j and Ruby communities!
        %p
          %a.btn.btn-primary.btn-lg(href='/getting_started/')
            Getting started

  .row
    .col-sm-12
      = partial :page_header
  .row.topics
    .col-sm-4
      .panel.panel-default
        %h3
          %a(href='/getting_started/')
            Getting started
    .col-sm-4
      .panel.panel-default
        %h3
          %a(href='/rubygems/')
            Rubygems
    .col-sm-4
      .panel.panel-default
        %h3
          %a(href='/articles/')
            Articles
    .col-sm-4
      .panel.panel-default
        %h3
          %a(href='/talks/')
            Talks
    .col-sm-4
      .panel.panel-default
        %h3
          %a(href='/how-tos/')
            How-Tos
